{% load bootstrap4 %}
{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Igreja Culto</title>
    <script src="https://kit.fontawesome.com/ae60b20127.js" crossorigin="anonymous"></script>
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png"/>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    {% bootstrap_css %}
    <style>
        :root {
            --header-height: 100px;
            --aside-width: 225px;
            --footer-height: 2px;
        }

        * {
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
        }

        body {
            margin: 0;
            background-color: black;
        }

        .app {
            margin: 0;
            display: grid;
            grid-template-columns: var(--aside-width) 1fr;
            grid-template-rows: var(--header-height) 1fr var(--footer-height);
            grid-template-areas:
            "header header"
            "menu content"
            "footer footer";
            height: 100vh;
        }

        header.header {
            grid-area: header;
        }

        aside.menu {
            grid-area: menu;
        }

        main.content {
            grid-area: content;
        }
        footer.footer{
            grid-area: footer;
        }


    </style>
</head>
<body>

<div class="app">

    <header class="header"><h1>Banner</h1></header>

    <main class="content">
        <div class="container">
            {% block main %}
            {% endblock %}
        </div>
    </main>

    <footer class="footer" style="background-color: yellow">

    </footer>

</div>





<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
</html>