{% load bootstrap4 %}
{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Igreja Culto</title>
    <script src="https://kit.fontawesome.com/ae60b20127.js" crossorigin="anonymous"></script>
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png"/>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@900&display=swap" rel="stylesheet">
    {% bootstrap_css %}
    <style>
        :root {
            --header-height: 100px;
            --aside-width: 225px;
            --footer-height: 2px;
        }

        * {
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
        }

        body {
            margin: 0;
            background-color: black;
        }

        .entry-background {
            height: 1200px;
            width: 100%;
            display: block;
            background-color: transparent;
            background-image: url({% static "img/banner.png" %});
            background-size: 100% 100%;
        }

        .entry-background .wrap .title{
            margin-top: 20%;
        }
        .entry-background .wrap .title h3 {
            font-family: "Monoton", cursive;
            font-size: 122px;
            text-transform: uppercase;
            font-weight: 400;
            color: #fff;
            line-height: 1;
            margin-top: 55px;
            margin-bottom: 40px;
        }

        .img-logo {
            width: 200px;
            position: relative;
            padding: 0;
            margin: 0 auto;
        }

        .img-logo img {
            width: 100%;
        }

        .entry-background .wrap .title p {
            font-family: "Monoton", cursive;
            text-transform: uppercase;
            font-weight: 400;
            color: #fff;
            line-height: 1;
            font-size: 80px;
        }
        .entry-background .btn-subscription {
            margin-top: 50px;
            font-family: 'Anton', sans-serif;
            font-size: 40px;
            background-color: transparent;
            border: solid 3px #fff;
        }

        .title-form h3 {
            font-family: 'Mulish', sans-serif;
            font-size: 80px;
            font-weight: 400;
            color: #fff;
            position: relative;
            z-index: 0;
            padding-bottom: 7px;
        }
        .form-cadastro label {
            color: #fff;
            font-family: 'Mulish', sans-serif;
            font-size: 20px;
        }
    </style>

</head>
<body>

<div class="app">
    <header class="header">
        <div class="entry-background">
            <div class="wrap">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="title">
                            <h3>Originais</h3>
                            <p>Lual 2020</p>
                        </div>
                        <div class="logo-nova">
                            <div class="img-logo">
                                <img src="{% static 'img/nova-logo.png' %}">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 text-center button-sign">
                        <a href="#form" class="btn btn-danger btn-subscription">Inscreva-se aqui.</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="content" id="form">
        <div class="container">
            <div class="title-form">
            <div class="row">
                <div class="col-md-12">
                    <h3>Inscreva-se aqui</h3>
                </div>
            </div>
        </div>
        <div class="container">
           {% block form %}
           {% endblock %}
        </div>    
        </div>  
    </main>

    <footer class="footer" style="background-color: yellow">
    </footer>

</div>





<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script>
$(document).ready(function(){
  // Add scrollspy to <body>
  $('body').scrollspy({target: ".button-sign", offset: 50});   
});
</script>
</body>
</html>
