{% extends 'base.html' %}
{% load bootstrap4 %}
{% block form %}
    <form class="form-cadastro" method="post">
        {% csrf_token %}
        {% if sucess %}
            <span style="color: forestgreen">Inscrição efetuada com sucesso.</span>
        {% endif %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-success">Salvar</button>
            <button type="button" class="btn btn-warning">
                <a href="{% url 'cadastro' %}">Cancelar</a>
            </button>
        {% endbuttons %}
    </form>
{% endblock %}